sudo: required
language: cpp
compiler:
  - gcc
  - clang

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise
    packages:
    - gcc-5
    - g++-5
    - clang-3.8

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install python3 python3-setuptools
  - sudo apt-get install ninja build-essential
  - sudo easy_install3 pip
  - sudo pip3 install meson

script:
  - meson . build --cross-file win64.txt
  - cd build
  - ninja
  - ninja test
